In [1]:
import hopsworks
from datetime import datetime, timedelta
import pandas as pd
import numpy as np

In [2]:
project = hopsworks.login()
fs = project.get_feature_store()

Connected. Call `.close()` to terminate connection gracefully.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/213141
Connected. Call `.close()` to terminate connection gracefully.

In [3]:
# retrieve feature groups
traffic_fg = fs.get_feature_group(name='traffic_flow_data', version=1)
weather_fg = fs.get_feature_group(name='weather_data', version=1)

### Process traffic data

In [4]:
# Rerieve data
traffic_fv = fs.get_feature_view(
    name='traffic_trainset',
    version=4,
)

In [5]:
traffic_train = traffic_fv.get_training_data(training_dataset_version=2)

In [6]:
traffic_train = pd.concat([traffic_train[0], traffic_train[1]], axis=1)

In [7]:
# Extract day 29 as a testset
traffic_train  = traffic_train[(traffic_train['day']==29)]

In [8]:
traffic_train

      free_flow_speed  confidence  weekend  day  hour  minute  current_speed
1062               36         1.0    False   29     0       4             36
1063               36         1.0    False   29     0       9             36
1064               36         1.0    False   29     0      14             36
1065               36         1.0    False   29     0      19             36
1066               36         1.0    False   29     0      29             36
...               ...         ...      ...  ...   ...     ...            ...
1284               36         1.0    False   29    23      14             36
1285               36         1.0    False   29    23      29             36
1286               36         1.0    False   29    23      39             36
1287               36         1.0    False   29    23      44             36
1288               36         1.0    False   29    23      54             36

[227 rows x 7 columns]